* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

body {
    background-color: #F4F2EE;
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    background-color: #fff;
    height: 53px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;

}

.linkedin-logo {
    height: 50px;
    padding: px;
    padding-left: 70px;
    cursor: pointer;
}

.search-bar {
    border: 1px solid #B6B6B6;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 12px;
    border-radius: 20px;
    margin-right: 115px;
}

.srch {
    height: 23px;
}

.search-bar input {
    border: none;
    font-size: 16px;
    outline: none;
    font-family: sans-serif;

}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}

.header-items {
    height: 25px;
}

.header-nav figcaption {
    font-family: sans-serif;
    font-size: 13px;
    opacity: 1;
}

.header-nav:hover {
    opacity: 1;
    filter: brightness(0) invert(30%);
}

.header-nav:hover figcaption {
    color: black;
    font-weight: 600;
    opacity: 1;
}

.header-profile {
    text-align: center;
    padding-top: 6px;
    cursor: pointer;

}

.self-profile {
    height: 28px;
    border-radius: 20px;
}

.header-profile figcaption {
    font-family: sans-serif;
    font-size: 13px;
    opacity: 0.5;

}

.header-profile figcaption:hover {
    color: black;
    font-weight: 100;
    opacity: 1;
}

.header-bussiness {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-left: 50px;
    padding-top: 4px;
}

.header-item {
    height: 20px;
    padding-bottom: 5px;
}

.header-bussiness figcaption {
    font-family: sans-serif;
    font-size: 13px;
    opacity: 0.9;
    font-weight: 100;

}

.header-bussiness:hover {
    opacity: 1;
    filter: brightness(0) invert(40%);
}

.header-bussiness:hover figcaption {
    color: black;
    font-weight: 600;
    opacity: 1;
}

.header-premium {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 0px;
}

.premium-png {
    height: 30px;
}

.header-premium figcaption {
    font-family: sans-serif;
    font-size: 12px;
    opacity: 0.7;
    font-weight: 100;
}

.header-premium figcaption:hover {
    opacity: 1;
    color: black;
    font-weight: 600;
}

#for-left-spacing {
    padding-left: 60px;
    padding-top: 100px;
}

.intro-section {
    position: relative;
    width: 100%;
}

.background-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;

}

.profile-pic {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    position: absolute;
    bottom: -45px;
    left: 30px;
    border: 4px solid white;
    cursor: pointer;
}

.intro-self {
    background-color: #fff;
    height: 310px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.intro-name {
    display: flex;
    gap: 10px;
    padding-top: 0px;
    position: relative;
}

.intro-self h1 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 60px 0px 0px 25px;
}

.intro-self h3 {
    padding: 60px 23px 0px 0px;
    font-weight: 100;
    font-family: sans-serif;
}


.company-icon {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    top: 50px;
    right: 30px;
    position: absolute;
}

.prfile-company-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nikon-icon {
    height: 22px;
    padding: 5px;
    background-color: #000;
    cursor: pointer;
    margin-bottom: -0px;

}

.nikon-icon1 {
    height: 40px;
    padding: 0px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: -5px;

}

.prfile-company-icon figcaption {
    font-family: sans-serif;
    font-size: 14px;
}

.prfile-company-icon figcaption:hover {
    text-decoration: underline;
    color: #0A66C2;

}

.intro-text {
    padding: 0px 0px 0px 27px;
    display: block;
}

.intro-text p {
    font-family: sans-serif;
    padding-bottom: 7px;
}

.intro-text span {
    opacity: 0.6;
    font-family: sans-serif;
    padding-bottom: 5px;
}

.contact {
    text-decoration: none;
    color: #0A66C2;
}

.contact:hover {
    text-decoration: underline;
}

.portfolio {
    text-decoration: none;
    color: #0A66C2;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}

.portfolio:hover {
    text-decoration: underline;

}

.icon-6 {
    color: #0A66C2;
    height: 17px;
    padding-top: 10px;

}

.connections {
    text-decoration: none;
    color: #0A66C2;
}

.connections:hover {
    text-decoration: underline;
}

.mutual-connection {
    display: flex;
    padding-top: 7px;
    cursor: pointer;
}

.mutual {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: -10px;
}

.mutual-text {
    opacity: 0.5;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 6px;
    cursor: pointer;
}

.mutual-text:hover {
    text-decoration: underline;
    color: #0A66C2;
    opacity: 1;
}

.buttons {
    padding-top: 20px;
    display: flex;
    align-items: center;

}

.btton1 {
    padding: 6px;
    font-size: 17px;
    width: 110px;
    border-radius: 20px;
    color: #fff;
    background-color: #0A66C2;
    border: none;
    cursor: pointer;
}

.btton1:hover {
    background-color: #1a528b;
}

.send-icon {
    height: 15px;
    padding-right: 4px;

}

.btton2 {
    opacity: 0.7;
    margin-left: 10px;
    background-color: #fff;
    font-size: 15px;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid black;
    width: 70px;
    cursor: pointer;
}

.btton2:hover {
    border: 2px solid black;
    background-color: #f8f6f6;
}

.about {
    background-color: #fff;
    height: 220px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 30px;

}

.head {
    font-size: 22px;
    font-weight: 600;
}

.about p {
    font-size: 15px;
    opacity: 0.8;
    padding-top: 15px;
}

.seemore {
    display: flex;
    justify-content: space-between;
}

.seemore span {
    opacity: 0.8;
    cursor: pointer;
}

.seemore span:hover {
    color: #0A66C2;
}

.top-skill {
    margin-top: 20px;
    border: 1px solid rgb(191, 188, 188);
    border-radius: 10px;
    height: 50px;
    padding: 10px;

}

.top-skill img {
    padding-left: 20px;
    height: 20px;
}

.top-skill b {
    font-weight: 100;
    font-size: 23px;
}

.top-skill span {
    padding-left: 40px;
    padding-top: 4px;

}

.for-arrow {
    display: flex;
    justify-content: space-between;
}

.for-arrow img {
    padding-right: 20px;
    height: 20px;
    width: 20px;
}

.activity-section {
    background-color: #fff;
    height: 650px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 0px 0px 20px;
}

.activity-section h1 {
    font-size: 20px;
}

.activity-section p {
    opacity: 0.5;
    padding-top: 3px;
}

.activity-section button {
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    margin-top: 6px;
    margin-bottom: 20px;

}

.button-1 {
    background-color: #097954;
    color: #fff;
    border: 1px solid #cdcaca;
}

.button-2 {
    background-color: #fff;
    border: 1px solid #cdcaca;
}

.swipe-btton {
    text-align: center;
    padding-top: 10px;
}

.Experience {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.Experience h1 {
    font-size: 23px;
    padding-bottom: 15px;
}

.ex-item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ex-logo-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.ex-texts {
    display: flex;
    flex-direction: column;
}

.field {
    font-weight: 600;
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.field:hover {
    color: #0A66C2;
    text-decoration: underline;
}

.ex-texts p {
    font-size: 14px;
    opacity: 0.8;
    margin: 3px 0;
}

.date,
.area {
    font-size: 14px;
    opacity: 0.6;
    margin: 2px 0;
}

.diamond1 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.plus-skills {
    font-size: 15px;
    opacity: 0.8;
    font-weight: 600;
}

.plus-skills:hover {
    color: #0A66C2;
    text-decoration: underline;
}

.hrr {
    opacity: 0.3;
}

.date1 {
    padding-bottom: 30px;
    font-size: 14px;
    opacity: 0.6;
    margin: 2px 0;
}

.ex-item1 {
    margin-left: 60px;
    padding-top: 30px;
}

#main-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

#left-column {
    flex: 2;
}

#right-sidebar {
    flex: 1;
    position: relative;
    top: 100px;
    padding: 30px;
    background-color: #fff;
    height: 480px;
    width: fit-content;
    border-radius: 10px;
}

#right-sidebar h2 {
    font-size: 17px;
}

.ex-logo-img1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button-3 {
    background-color: #fff;
    color: #0A66C2;
    border: 1px solid #0A66C2;
    padding: 5px;
    border-radius: 20px;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}

.r-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.right-btn {
    background-color: #fff;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    width: fit-content;
}

.button-3:hover {
    background-color: #9dceff;
    opacity: 0.6;
    color: #000000;
    border: 2px solid black;
}


.ad img {
   margin-left: 20px;
    padding: 0;
    border: 1px solid black;
    text-decoration: none;
    outline: 0;
        width: 350px;
    height: 250px;
   
}